<div mat-dialog-content>
  <h4 *ngIf="create" class="mat-h4">Ajout d'un nouveau patient</h4>
  <h4 *ngIf="!create" class="mat-h4">Mise à jour d'un patient</h4>
  <mat-form-field>
    <input
      matInput
      placeholder="Nom"
      [formControl]="nomControl"
      (change)="data.nom = getChange(nomControl,data.nom,$event.target.value)"
      required
    >
    <mat-error *ngIf="nomControl.invalid">{{getErrorMessage(nomControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Prenom"
      [formControl]="prenomControl"
      (change)="data.prenom = getChange(prenomControl,data.prenom,$event.target.value)"
      required
    >
    <mat-error *ngIf="prenomControl.invalid">{{getErrorMessage(prenomControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Date de naissance"
           [min]="minDate"
           [max]="maxDate"
           [matDatepicker]="picker"
           [formControl]="dateControl"
           (dateChange)="data.date = getDate(dateControl,data.date,$event.target.value)"
          >
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker  #picker  startView="year"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Sexe" [(value)]="this.selectedValue" required>
      <mat-option
        *ngFor="let s of sexe"
        [value]="s"
        (click)="test($event)"
      > {{s}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Code Postal"
      [formControl]="codePostalControl"
      (change)="data.adresse.codePostal = getChange(codePostalControl,data.adresse.codePostal,$event.target.value)"
      required
    >
    <mat-error *ngIf="codePostalControl.invalid">{{getErrorMessage(codePostalControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Etage"
      [formControl]="etageControl"
      (change)="data.adresse.etage = getChange(etageControl,data.adresse.etage,$event.target.value)"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Numero rue"
      [formControl]="numeroRueControl"
      (change)="data.adresse.numero = getChange(numeroRueControl,data.adresse.numero,$event.target.value)"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Rue"
      [formControl]="rueControl"
      (change)="data.adresse.rue = getChange(rueControl,data.adresse.rue,$event.target.value)"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [formControl]="villeControl"
      placeholder="Ville"
      required
      (change)="data.adresse.ville = getChange(villeControl,data.adresse.ville,$event.target.value)"
    >
    <mat-error *ngIf="villeControl.invalid">{{getErrorMessage(villeControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Numero de securite sociale"
      [formControl]="numeroControl"
      required
      (change)="data.numeroSecuriteSociale = getChange(numeroRueControl,data.numeroSecuriteSociale,$event.target.value)"
    >
    <mat-error *ngIf="numeroControl.invalid">{{getErrorMessage(numeroControl)}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Quit</button>
  <button
    *ngIf="isValid()"
    mat-button
    [mat-dialog-close]="data"
  >Ok
  </button>
</div>
