/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.main-container {
  display: flex;
}


.main-container > * {
  flex: 1;
  margin: 20px;
}

div.list {
  border: solid 1px #000000;
  min-height: 50px;
}

.mat-badge {
  display: inline-block;
}

div.main-container div h2.mat-h2 {
  margin-left: 25%;
}

mat-toolbar span {
  margin: auto;
}

button.add-patient {
  margin-left: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

app-page-not-found h2.not-found{
   text-align: center;
   color: red;
 }
