

<div class="main-container">
  <div>
    <h2
      class="mat-h2"
      [matBadge]="cabinet.infirmiers.length"
      matBadgeOverlap="false"
    >Liste des infirmiers</h2>
    <app-infirmiers-list [_infirmiers]="cabinet.infirmiers"></app-infirmiers-list>
  </div>
  <div>
    <h2
      class="mat-h2"
      [matBadge]="cabinet.patientsNonAffectes.length"
      matBadgeOverlap="false"
    >Patients non affectés
    </h2>
    <button mat-button class="add-patient" (click)="openDialog()">
      <mat-icon>person_add</mat-icon>
    </button>
    <app-patients-list
      [_infirmiersLength]="cabinet.infirmiers.length"
      [_isUnaffected]="true"
      [_patients]="cabinet.patientsNonAffectes">
    </app-patients-list>
  </div>
</div>
