<mat-toolbar color="primary">
  <span>Cabinet Infirmier</span>
  <a *ngIf="authService.isLoggedIn === true && authService.role === 'ROLE_SECRETAIRE'" routerLink="/secretary" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a *ngIf="authService.isLoggedIn == true && authService.role === 'ROLE_INFIRMIER'" routerLink="/infirmier" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a routerLink="/login" routerLinkActive="active">
    <mat-icon>power_settings_new</mat-icon>
  </a>
</mat-toolbar>
<div>
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

